<main class="app-container">
    <!-- Language Switcher -->
    <div class="language-switcher">
        <button mat-button (click)="switchLanguage('en')" class="lang-btn">EN</button>
        <button mat-button (click)="switchLanguage('fr')" class="lang-btn">FR</button>
    </div>

    <!-- GitHub Star Banner -->
    <pro-github-banner></pro-github-banner>

    <pro-hero-section></pro-hero-section>
    <pro-skills-section></pro-skills-section>
    <pro-projects-section></pro-projects-section>
    <pro-experience-section></pro-experience-section>
    <pro-contact-me></pro-contact-me>
    <pro-footer-section></pro-footer-section>
</main>

<router-outlet />